<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ide.footballmatch.livetv">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootballLiveTV"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyWebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AritelLive_SportChannelContent"
            android:exported="false" />
        <activity
            android:name=".activity.LiveChannelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChannelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectSportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Channel1Activity"
            android:exported="false" />
        <activity
            android:name=".activity.ThankyouActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".Channle_list" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.footballscore_FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Guide2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Guide1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Guide_Content_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Guide_Detail_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_LeagueDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_LeagueListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_MatchDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_PlayerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.footballscore_TeamDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>